@import './P2pListScreen/P2pListScreen.pcss';
@import './P2pPayment/P2pPaymentMobileScreen.pcss';
@import './P2pListOrdersPrivate/P2pMobileOrdersPrivateScreen.pcss';
@import './P2pPostOrder/P2pPostOrder.pcss';
@import './P2pAddPayment/P2pAddPayment.pcss';
@import './P2pMyTrade/P2pMyTrade.pcss';
@import './P2pUserCenter/P2pUserCenter.pcss';
@import './P2pOrderDetail/P2pOrderDetail.pcss';
@import './P2pOrderDetail/P2pDetailDoneOrCancel.pcss';
