.desktop-paypal-withdraw-summary {
	background-color: var(--header-background-color);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	margin: 2rem;
	padding: 20px 10px;

	&__right {
		background-color: inherit;
		border-radius: 5px;
		color: var(--system-text-black-color);
		flex-direction: column !important;
		justify-content: flex-start !important;
		line-height: 15px;
		padding: 10px 10px 0 10px;
	}
}
