.desktop-bank-account-list-screen__bank-account-list__bank-account-item {
	border-bottom: 1pt solid rgb(var(--rgb-big-stone));

	&__remove-btn {
		background: rgb(var(--rgb-milano-red));
		border-radius: 50px;
		color: rgb(var(--rgb-text-white)) !important;
	}
}
