#deposit-screen {
	color: var(--system-text-black-color);
	padding: 0 10%;
	position: relative;

	.deposit-container {
		background: var(--body-background-color);
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

		&__address {
			background: var(--header-background-color);
			border-left: 3px solid var(--blue);
		}
	}

	.deposit-history .td-pg-wallet table thead tr th {
		background: var(--header-background-color);
		padding-top: 5px;
	}
}
