.market__fiat {
	color: var(--system-text-black-color);
	cursor: pointer;
	outline: none;
	width: 6rem;
}

.market__fiat__active {
	color: var(--blue);
	cursor: pointer;
	outline: none;
	width: 6rem;
}
