.p2p-mobile-component-faq-item {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin: 2em 0;

	&__question {
		color: rgb(var(--rgb-raisin-black)) !important;
		font-size: 1rem;
	}

	&__answer {
		color: rgb(var(--rgb-raisin-black)) !important;
		font-size: 0.9rem;
	}

	&__icon {
		color: rgb(var(--rgb-blue));
		margin-right: 1.6em;
		min-height: 1.5em;
		min-width: 1.5em;
	}
}
