.home-statistic-list {
	margin: 5rem 0;

	.statistic__item {
		text-align: center;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			text-align: right;
		}

		&-amount {
			color: var(--system-text-black-color);
			font-size: 3.5rem;
			font-weight: bold;
			text-align: center;
		}

		&-label {
			color: var(--sub-title-color);
			font-size: 1.5rem;
			font-weight: 300;
			text-align: center;
		}
	}
}
