@import './ModalComfirmP2p/ModalComfirmP2p.pcss';
@import './ModalChoosePayment/ModalChoosePayment.pcss';
@import './ModalChoosePaymentMethod/ModalChoosePaymentMethod.pcss';
@import './ModalTransferToken/ModalTransferToken.pcss';
@import './P2pModalBase/P2pModalBase.pcss';
@import './ModalConfirmCurrencyP2p/ModalConfirmCurrencyP2p.pcss';
@import './ModalConfirmOtpP2p/ModalConfirmOtpP2p.pcss';
