.market-overview-list {
	background-color: var(--background-tab-active);
	border-bottom-left-radius: var(--border-tab);
	border-bottom-right-radius: var(--border-tab);
	border-top-right-radius: var(--border-tab);
	box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.05);
	padding: 0 rem;

	.table-data {
		color: var(--system-text-black-color);
		width: 100%;

		tr {
			font-size: 1.35rem;

			td {
				padding: 0 2rem;
			}

			th {
				font-weight: 300;
				padding: 2rem;
			}
		}
	}
}
